/* ..............................................................

Responsive media query

...............................................................*/
/*  for Mobile */

@media only screen and (min-width: 320px) and (max-width:768px) {
    .view-all-button {
        display: none;
    }

    .margin {
        margin: 10px;
    }

    .container {

        display: flex;
        flex-direction: column-reverse;

        width: 100%;
        height: 100%;
        overflow-x: hidden;

    }

    .greatest-show {
        width: 96%;
        margin: 0px 0px;

        height: 100%;
    }

    .watch-live-button {
        width: 60%;
        height: 20px;
        padding: 8px 20px;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .player-banner {
        width: 95%;
        padding-top: 20px;
        margin-top: 30px;
    }

    .player-banner img {
        width: 95%;
        height: 100%;
        margin: 0px;
    }

    .header-heading {

        font-size: 36px;
    }

    .gretest-show-paragraph {

        font-size: 14px;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        /* background-color: white; */

    }

    .navigation {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: white;
        border-radius: 10px;
    }

    .link-nav-button {
        margin: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: white;
        text-decoration: none;
        color: black;
        width: 240px;
        text-align: center;
    }


    .transfer-live {

        display: flex;
        flex-direction: column;
        margin: 0px 5px;
        width: 100%;

    }

    .upcomming-match {

        display: flex;
        flex-direction: column;
        margin: 0px 5px;
        width: 100%;
    }

    .footer-navigation {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: stretch;
        width: 98%;

    }

    .footer-pagination {
        margin: 10px 0px;
        font-size: 11px;
        width: 100px;
    }

    .footer-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*  for Tablet */
@media only screen and (min-width: 769px) and (max-width:991px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        background-color: black;
        border-radius: 20px;
        width: 100%;
        height: 600px;


    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* background-color: white; */

    }

    .navigation {

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        background-color: white;
        border-radius: 10px;
    }

    .link-nav-button {
        margin: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: white;
        text-decoration: none;
        color: black;
        width: 120px;
        text-align: center;
    }

    .upcomming-match-button {
        width: 180px;
    }

    .transfer-live {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 20px;

    }

    .upcomming-match {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 20px;

    }

    .footer-navigation {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: stretch;
        width: 98%;

    }

    .footer-pagination {
        margin: 10px 0px;
        font-size: 11px;
        width: 100px;
    }
}


/* Desktop */
@media only screen and (min-width: 992px) and (max-width:1440px) {
    .view-all-button {
        display: none;
    }

    /* background-color: white; */

}

/* ..............................................................

Responsive media query end

...............................................................*/